
{% extends "base.html" %}
 
    {% block content %}
    
        <h1>Welcome to Movie Recommender!</h1>
        <fieldset>
            <h2>Give me some movie IDs and ratings!</h2>
            <form id='rating form' action="{{ url_for('recommender') }}">
                <fieldset>
                {% for i in range(3) %}                    
                    <input type="text" placeholder="movie ID" name="query_ids" maxlength="6" style="height: 36px; width: 300px; font-size: 16px; color:brown;; background-color: linen;">
                    <input type="text" placeholder="rating 1-5" name="ratings" maxlength="1" style="height: 36px; width: 150px; font-size: 16px; color:brown;; background-color: linen;">
                    <div class="break"></div>
                {% endfor %}
                </fieldset>

                <h3>Select a recommender:</h3>
                <div>
                    <input type="radio" id="random" name="select_model" value="random"
                            checked>
                    <label for="random" class="checkable">Random</label><br>

                    <input type='radio' id="popular" name="select_model" value="popular" checked />
                    <label for="popular" class="checkable">Popularity</label><br>

                    <input type="radio" id="cluster" name="select_model" value="cluster">
                    <label for="cluster" class="checkable">K-Means Clustering</label><br>

                    <input type="radio" id="NMF" name="select_model" value="NMF">
                    <label for="NMF" class="checkable">NMF (Non-Negative Matrix Factorization)</label><br>

                    <input type="radio" id="neighborhood" name="select_model" value="neighborhood">
                    <label for="neighborhood" class="checkable">Neighborhood-based</label><br>
                </div>
                <input type="int" placeholder="How many recommendations?" name="rec_num" style="height: 36px; width: 300px; font-size: 16px; color:brown; background-color: linen;"><br>
                <input type="submit" value="Get Recommendations">
            </form>
        </fieldset><br>

        <h3 style="color:rgb(48, 45, 45)">If you don't know the movie ID, please input the movie name:</h3>
        <form id='search id' action="{{ url_for('landing_page') }}">
            <input type="text" placeholder="movie name" name="search_words" style="height: 36px; width: 300px; font-size: 16px; color:brown;; background-color: linen;">
            <input type="submit" value="Search in Database">
        </form>

        {% if found_status == 1 %}
            <h2>The best match:</h2>
            <ul>  
                <li>
                    <a href="{{ url_for('movie_info', movieId=closest_id) }}">{{ closest_title }}</a>
                    <span>movie ID: {{ closest_id }}</span>
                </li>
            </ul>

            <h2>Or are you looking for:</h2>
            <ul>  
                {% for probable_ids, probable_titles in zip_matches %}
                    <li>
                        <a href="{{ url_for('movie_info', movieId=probable_ids) }}">{{ probable_titles }}</a>
                        <span>movie ID: {{ probable_ids }}</span>
                    </li>
                {% endfor %}
                </ul><br>
                
            <a href="{{ url_for('landing_page')}}">Go back to landing page!</a>

        {% elif found_status == 0 %}
            <p>
            Movie not found. <br>
            Please type in another movie name.
            </p>

        {% endif %}
        
        <br><br>
        <p style="color:rgb(48, 45, 45);;">Data Source: <a href="https://grouplens.org/datasets/movielens/">MovieLens</a></p>

    {% endblock %}
