
{% extends "base.html" %}
 
    {% block content %}

        {% if input_valid == -1 %}
            All movie IDs are not valid! <br>
            Please try again <a href="{{ url_for('landing_page')}}">here</a> !

        {% else %}
            <h1>Your ratings about:</h1>

            {% if input_valid == 0 %}
                One or more movie IDs do not exist. 
            {% endif %}

            <ul>
                {% for query_id, query_title in query_info %}
                    <li>
                        <a href="{{ url_for('movie_info', movieId=query_id)}}">{{ query_title }}</a><br>
                        Movie ID: {{ query_id }}
                    </li>       
                {% endfor %}
            </ul>

            <h1>allow me to recommend the following movies: </h1>
            <ul>  
                {% for rec_id, rec_title in zip_rec %}
                    <li>
                        <a href="{{ url_for('movie_info', movieId=rec_id) }}">{{ rec_title }}</a><br>
                        Movie ID: {{ rec_id }}
                    </li>
                {% endfor %}

            </ul>

        {% endif %}

        <a href="{{ url_for('landing_page')}}">Go back to landing page!</a>

    {% endblock %}
